
.forms_container{
    display: flex;
    justify-content: center;
    margin: 80px;
}

.forms_container form{
    max-width: 80%;
    background-color: #f7f7f7;
    padding: 32px 100px ;    
    box-shadow: 7px 7px 15px rgba(0,0,0,25%);
    border-radius: 20px;
}

.forms_container h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}
